*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 7px;
}
body{
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  background-color: #333;
}
a{
  text-decoration: none;
}
p{
  padding: 1.6rem 0;
  font-size: 1.8rem;
}
img{
  width: 100%;
  height: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*    HEADER      */

header{
  height: 45rem;
}
header .bg_image{
  position: absolute;
  background-image: url(bg.jpeg);
  background-size: cover;
  background-position: center;
  height: 45rem;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
}
header h1{
  padding: 11rem;
  padding-bottom: 0;
}
.btn{
  display: inline-block;
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
  padding: 1.6rem 3.2rem;
  margin: .5rem 0;
  transition: all 0.4s;
}
.btn:hover{
  background-color: #eaeaea;
  color: #333;

}

/*    SECTION-a      */

#section_a{
  background-color: #eaeaea;
  color: #333;
  padding: 3.2rem 0;
}

/*    SECTION-b      */

#section_b{
  padding: 2rem;
}
#section_b ul{
  list-style: none;
}
#section_b li{
  background-color: #fff;
  color: #333;
  margin-bottom: 1.5rem;
}

.col_content{
  padding: 1.5rem;
}

/*    SECTION-c      */

#section_c{
  background-color: #eaeaea;
  color: #333;
  padding: 5rem;
}

/*    SECTION-d      */

#section_d .box{
  padding: 5rem;
}
#section_d .box:first-child{
  background-color: #2690d4;
}

/*    FOOTER      */

footer{
  padding: 4rem;
  background-color: #000;
}
footer a{
  color: #2690d4;
}

@media screen and (min-width:800px){
  html{
    font-size: 9px;
  }
}

@media screen and (min-width:1200px) {
  #section_b li{
    width: 28%;
    margin: 1%;
    display: inline-block;
  }
  .box{
    width: 50%;
    float: left;
  }
  html{
    font-size: 11px;
  }
}
